<%- contentFor('body') %>
<h1> Welcome to CampOut! </h1>
<a href="/campgrounds/new">Add new Campground</a>


<% campgrounds.forEach(function(campground){ %>
  <div>
    <h4><%= campground.name %></h4>
    <img src="<%= campground.image %>">

  </div>
  <% }) %>